.app-container {
  display: flex;
}

.content {
  transition: margin-left 0.3s ease; /* Transición suave */
  padding: 20px;
  width: 100%;
}

.content.active {
  margin-left: 220px; /* Ancho del sidebar cuando está expandido */
}

.content:not(.active) {
  margin-left: 60px; /* Ancho del sidebar cuando está contraído */
}



