.dark-theme {
    background: #2c2c2c;
  }
  
  .dark-theme .card {
    background-color: #424242;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dark-theme .btn-primary {
    background-color: #8f94fb;
    border-color: #8f94fb;
  }
  
  .dark-theme .btn-primary:hover {
    background-color: #8f94fbcc;
  }
  
  .dark-theme input:focus {
    box-shadow: 0 0 8px rgba(143, 148, 251, 0.8);
    border-color: #8f94fb;
  }